


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
</script>

<script src="/js/script.js"></script>
<script src="/js/vue.js"></script>  

<footer class="bg-dark text-center text-white footer w-100" style="margin-bottom: -30vh;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.linkedin.com/in/tiago-santos-245681134/" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://github.com/Tiakowski" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <div class="problems mb-3">
      <p class="d-inline"><a href="/problems">Encontrou algum problema?</a></p>
      <span class="bar">|</span>
      <p class="d-inline"><a href="/suggestions">Alguma sugestão de filme?</a></p>
      <span class="bar">|</span>
      <p class="d-inline"><a href="/noposter">Algum filme sem capa?</a></p>
  </div>
  <div class="problems attributions mb-3">
      <p class="d-inline"><a href="https://github.com/Tiakowski/attributions/blob/main/ATTRIBUTIONS.md" target="_blank">Atribuições</a></p>
  </div>
  
      
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright: Tiago Santos
    </div>
    <!-- Copyright -->
  </footer>



</html>