<%- include('partials/header.ejs'); %>
<link rel="stylesheet" href="/css/movies.css">
<body>
<%- include('partials/navbar.ejs'); %> 

<div class="movies" id="dailyControl">
    <ul class="nav nav-pills mb-3 mt-2" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link " id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Adicionar filme</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Lista de filmes</button>
        </li>
      </ul>

      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
            <div class="item-admin">
                <form>
                    <div>
                      <div class="list">
                        <label for="title">Filme</label>
                        <div class="input-group">
                          <input class="form-control" @focus="fetchSuggestions" @input="fetchSuggestionsDebounced" v-model="searchTerm" type="text" placeholder="Procurar filme">
                          <button class="btn btn-success" @click="getmovie" type="button">Buscar <i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                          <ul class="movies-list  list-group dropdown-menu" style="width: 100%; max-height: 30vh; overflow-y: auto;" v-if="searchTerm && suggestions.length > 0">
                            <a v-for="suggestion in suggestions" :key="suggestion.id" @click="selectSuggestion(suggestion)" class="text-decoration-none">
                              <li class="list-group-item" style="display: flex; padding: 10px; margin: 0; align-items: center;">
                                <p style="margin-bottom: 0;">{{ suggestion.title }}</p>
                              </li>
                            </a>
                          </ul>
                      </div>
                       
                      <hr>
                      
                      <input type="hidden" name="id" v-model="id">
                      <div class="row mb-3">
                        <div class="col">
                          <label for="title_no_accent">Título sem acento</label>
                          <input type="text" v-model="title_no_accent"  class="form-control" name="title_no_accent" required>
      
                        </div>
                        <div class="col">
                          <label for="runtime">Tempo de filme (min)</label>
                          <input type="number" v-model="runtime" class="form-control" name="runtime" required>
                        </div>
                      </div>
      
                      <div class="row mb-3">
                        <div class="col">
                          <label for="title_no_accent">Gênero</label>
                          <input type="text" v-model="genre" class="form-control" name="genre" required>
                        </div>
                        <div class="col">
                          <label for="runtime">Nota MetaScore</label>
                          <input type="number" v-model="metascore" class="form-control" name="metaScore" required>
                        </div>
                      </div>
      
                      <div class="row mb-3">
                        <div class="col">
                          <label for="title_no_accent">Diretor</label>
                          <input type="text" v-model="director" class="form-control" name="director" required>
                        </div>
                        <div class="col">
                          <label for="runtime">Ator 1</label>
                          <input type="text" v-model="actor1" class="form-control" name="actor1" required>
                        </div>
                      </div>
      
                      
                      <div class="row mb-3">
                        <div class="col">
                          <label for="title_no_accent">Ator 2</label>
                          <input type="text" v-model="actor2" class="form-control" name="actor2" required>
                        </div>
                        <div class="col">
                          <label for="runtime">Ator 3</label>
                          <input type="text" v-model="actor3" class="form-control" name="actor3" required>
                        </div>
                      </div>
      
                      <div class="row mb-3">
                        <div class="col">
                          <label for="title_no_accent">Ator 4</label>
                          <input type="text" v-model="actor4" class="form-control" name="actor4" required>
                        </div>
                        <div class="col">
                          <label for="runtime">Ano de lançamento</label>
                          <input type="number" v-model="year" class="form-control" name="year" required>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <label for="poster">Poster</label>
                          <input type="url" v-model="poster" class="form-control" name="poster" required>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <label for="date">Dia</label>
                          <input type="date" v-model="date" class="form-control" name="date" required>
                        </div>
                      </div>
                      <button @click="addMovie" class="btn mt-2 btn-success">Adicionar</button>  
                     </div>
                  </form> 
            </div>
        </div>
        
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
            <div class="item-admin">
              <ul class="movies-list list-group" style="width: 100%; max-height: 30vh; overflow-y: auto;" v-if="allDailyMovies.length > 0">
                <a v-for="movie in allDailyMovies" :key="movie.id_movie" class="text-decoration-none">
                  <li class="list-group-item d-flex justify-content-between" style="width: 30vw; padding: 10px; margin: 0; align-items: center;">
                    <p style="margin-bottom: 0;">{{movie.title}}</p>
                    <p style="margin-bottom: 0;">{{ (new Date(movie.date)).toLocaleDateString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric', timeZone: 'UTC' }) }}</p>
                  </li>
                </a>
              </ul>
            </div>
          </div>
          
      </div>
</div>
      </div>
</div>


<script src="/js/daily/dailyControl.js"></script>
</body>
<%- include('partials/footer.ejs'); %>