<%- include('../partials/header.ejs'); %>
<link rel="stylesheet" href="../css/music.css">
<body >
<%- include('../partials/navbar.ejs'); %> 
<%- include('../partials/recruiter.ejs'); %>

<div class="background-music">
    
</div>

</body>
<%- include('../partials/footer.ejs'); %>